.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.96);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  font-family: Inter, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  border-radius: 50%;
  background-color: transparent;
  z-index: 1000;
  opacity: 0;
  transition: opacity 420ms ease-in-out, transform 420ms ease-in-out;
  pointer-events: none;
}
.show { opacity: 1; transform: translate(-50%, -50%) scale(1); }
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  animation: loader-rotate 1.8s linear infinite;
  z-index: 0;
}
 @keyframes loader-rotate {
  0% {
    transform: rotate(90deg);
    box-shadow: 0 10px 20px 0 #fff inset, 0 20px 30px 0 #ad5fff inset, 0 60px 60px 0 #471eec inset;
  }
  50% {
    transform: rotate(270deg);
    box-shadow: 0 10px 20px 0 #fff inset, 0 20px 10px 0 #d60a47 inset, 0 40px 60px 0 #311e80 inset;
  }
  100% {
    transform: rotate(450deg);
    box-shadow: 0 10px 20px 0 #fff inset, 0 20px 30px 0 #ad5fff inset, 0 60px 60px 0 #471eec inset;
  }
 }
.letter {
  display: inline-block;
  opacity: 0.6;
  transform: translateY(0);
  animation: letter-anim 2s infinite;
  z-index: 1;
  border-radius: 50ch;
  border: none;
}
 .letter:nth-child(1) { animation-delay: 0s; }
 .letter:nth-child(2) { animation-delay: 0.1s; }
 .letter:nth-child(3) { animation-delay: 0.2s; }
 .letter:nth-child(4) { animation-delay: 0.3s; }
 .letter:nth-child(5) { animation-delay: 0.4s; }
 .letter:nth-child(6) { animation-delay: 0.5s; }
 .letter:nth-child(7) { animation-delay: 0.6s; }
 .letter:nth-child(8) { animation-delay: 0.7s; }
 .letter:nth-child(9) { animation-delay: 0.8s; }
 .letter:nth-child(10) { animation-delay: 0.9s; }
 @keyframes letter-anim {
  0%, 100% { opacity: 0.4; transform: translateY(0); }
  20% { opacity: 1; transform: scale(1.15); }
  40% { opacity: 0.7; transform: translateY(0); }
 }